Sodu/Sodu/bin/
Sodu/Sodu/obj/x86/Debug/MainPage.g.cs
Sodu/Sodu/obj/x86/Debug/FxResources.System.Xml.XmlSerializer.SR.resw
Sodu/Sodu/obj/x86/Debug/FxResources.System.Xml.XmlDocument.SR.resw
Sodu/Sodu/obj/
Sodu2.0/Sodu2.0/bin/
Sodu2.0/Sodu2.0/obj/
